header {
	padding-bottom: 10px;
}

header a.subheader {
	color: black;
	text-decoration: underline;
}
a.article-title {
	font-size: 16px;
}

header span.aka {
	font-size: 18px;
}

header small {
	font-size: 12px;
	margin-top: 5px;
	display: inherit;
}	
nav.social-media {
	padding-top: 10px;
	float:none;
}

@media only screen and (min-width: 415px) {
	header small {
		font-size: 15px;
	}
	nav.social-media {
		float:right;
		padding-top: initial;
	}
}
